In [3]:
import sqlite3

In [4]:
import datetime

In [25]:
conn = sqlite3.connect("log.db")

In [6]:
conn.execute("create table employee (name text, timestamp timestamp)")

In [29]:
conn.close()

In [33]:
conn = sqlite3.connect("log.db")
c = conn.execute("select * from employee")

In [34]:
c.description

(('name', None, None, None, None, None, None),
 ('timestamp', None, None, None, None, None, None))

In [35]:
c.close()

In [31]:
name = 'aa'
timestamp = datetime.datetime.now()

conn = sqlite3.connect("log.db")
c = conn.cursor()
c.execute("insert into employee (name,timestamp) values (?,?)",(name,timestamp))
conn.commit()

In [32]:
c.close()
conn.close()

In [38]:
conn = sqlite3.connect("log.db")
c = conn.execute("select * from employee")

row=""
for row in c:
    print(row)

('aa', '2024-03-15 20:09:04.124345')
('Gian Atmaja', '2024-03-15 20:15:15.530540')

In [37]:
c.close()
conn.close()